body {
  text-align: center;
  font-family: Helvetica;
}

header {
  padding: 40px;
  background: #CD919E;
  border-bottom: 5px double #ede0e5;
}

h1 {
  color: white;
  font: 4rem 'Great Vibes', cursive;
  text-shadow: 2px 2px 2px black;
  margin: 10px auto;
}

h2 {
  text-align: left;
  color: #492432;
}

h3 {
  text-align: right;
  color: #492432;
}

a {
  color: #492432;
}

nav {
  font-family: georgia;
  font-size: 1.3rem;
  color: #404040;
}

.separator {
  color: black;
  font-size: 1.5rem;
}

.extraBottomMargin {
  margin-bottom: 40px;
}

section {
  padding: 20px 0px 20px;
  max-width: 650px;
  margin: 0 auto;
}

article {
  margin-bottom: 15px;
  padding: 30px;
  min-height: 150px;
  //same as image
}

article:nth-child(odd) {
  background: #ede0e5;
  border-top: 1px solid #492432;
  border-bottom: 1px solid #492432;
}

article:nth-child(odd) h3 {
  text-align: left;
}

article:nth-child(odd) img {
  float: left;
  margin-right: 20px;
}

article:nth-child(even) img {
  float: right;
  margin-left: 20px;
}

footer {
  border-top: 5px double #ede0e5;
  padding: 40px;
  background: #492432;
}

footer img {
  margin: 10px;
}

#me {
  height: 150px;
  width: 150px;
  border-radius: 150px;
  border: 2px groove;
}
